body
    margin: 0
    font-size: 24px

.gradient
    background: linear-gradient(59.66deg, #FF7474 13.61%, #FFA674 51.34%, #FFD874 89.9%)
    overflow: hidden
    color: white

    h1
        text-align: center
        font-size: 48px

    .grid-2
        display: grid
        grid-template-columns: 1fr 1fr

        .logo
            margin: 0 auto

    .right-contents
        h2
            font-size: 36px
        img
            max-width: 100%
    
    .theme
        text-align: center

        h2
            margin: 0
        p
            margin: 8px

.grid-3
    display: grid
    grid-template-columns: 1fr 1fr 1fr